:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(228, 226, 226);
}

header {
    max-width: 1000px;
    margin: auto;

    form {
        padding: 1rem 2rem;
        > input[type="text"] {
            width: 25rem;
            line-height: 2rem;
            font-size: 1.25rem;
            padding-left: 1rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        > .filter-settings{
            > .mana-filter {
                display: flex;
                padding: 1rem;
                box-sizing: border-box;

                > .mana {
                    opacity: 0.2;
                    margin: 0.5rem;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    nav {
        padding-top: 1rem;
        a {
            font-size: 1.5rem;
            padding: 0 2rem 0 2rem;
            text-decoration: none;
            color: black;
        }
    }
}

.hidden {
    display: none;
}

.mana {
    background-image: url("../assets/mana.svg");
    background-repeat: no-repeat;
    background-size: auto 730%;
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);

    &.white{
        background-position: 44.4% 33.3%;
    }

    &.blue{
        background-position: 55.45% 33.3%;
    }

    &.black{
        background-position: 66.63% 33.3%;
    }

    &.red{
        background-position: 77.8% 33.3%;
    }

    &.green{
        background-position: 88.9% 33.3%;
    }

}