:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(228, 226, 226);
}

header {
    max-width: 1000px;
    margin: auto;

    form {
        padding: 1rem 2rem;
        > input[type="text"] {
            width: 25rem;
            line-height: 2rem;
            font-size: 1.25rem;
            padding-left: 1rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }

    nav {
        padding-top: 1rem;
        a {
            font-size: 1.5rem;
            padding: 0 2rem 0 2rem;
            text-decoration: none;
            color: black;
        }
    }
}